# Virtual environment
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Pytest
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
